<h1>Listado de Ciudadanos</h1>
<button type="button" class="btn btn-success mb-2" ><i class="fas fa-plus">Crear nuevo registro</i></button>
<table class="table table-striped"> <!--Se agrega tabla-->
    <thead>
        <tr><!--Se agrega columnas-->
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Primer Nombre</th>
            <th scope="col">Segundo Nombre</th>
            <th scope="col">Primer Apellido</th>
            <th scope="col">Segundo Apellido</th>
            <th scope="col">Numero de Telefono</th>
            <th scope="col">Ciudad Natal</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ciudadano of ciudadanos">
            <th scope="row">{{ciudadano.id}}</th>
            <td>{{ciudadano.iDPersonal}}</td>
            <td>{{ciudadano.primerNombre}}</td>
            <td>{{ciudadano.segundoNombre}}</td>
            <td>{{ciudadano.primerApellido}}</td>
            <td>{{ciudadano.segundoApellido}}</td>
            <td>{{ciudadano.numeroTelefono}}</td>
            <td>{{ciudadano.ciudadNatal.nombre}}</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-info">
                        <i class="fas fa-pencil-alt"></i>
                    </button>                                    
                    <button type="button" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>